* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  --bg-color: white;
  --text-color: black;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-color: black;
    --text-color: white;
  }
} */

body {
  width: 100%;
  height: 100vh;
  background: var(--bg-color);
  display: grid;
  place-content: center;
  gap: 10px;
  transition: background .3s ease;
}

button {
  width: 150px;
  height: 35px;
  color: var(--text-color);
  background: var(--bg-color);
  border: 1px solid var(--text-color);
  border-radius: 10px;
  cursor: pointer;
  transition: background .3s ease;
}

button:hover {
  background: var(--text-color);
  color: var(--bg-color);
}

body[data-theme='dark'] {
  --bg-color: black;
  --text-color: white;
}