* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(rgb(0, 140, 255) 360deg, rgb(0, 35, 65) 0deg);
  position: relative;
}

.circle::before {
  content: '';
  width: 195px;
  height: 195px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 200;
  font-family:'Courier New', Courier, monospace;
  color: rgb(51, 51, 51);
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons button {
  width: 100px;
  padding: 10px;
  outline: none;
  border: 1px solid rgb(0, 53, 167);
  border-radius: 20px;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  transition: all .3s ease;
}

.buttons button:hover {
  transform: scale(1.04);
}

.buttons button:nth-child(2) {
  background-color: rgb(255, 84, 84);
  color: white;
  border: none;
}

button:disabled {
  border: 1px solid gray;
  cursor: not-allowed;
}

button:disabled:hover {
  transform: none;
}