* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background-color: black;
  display: grid;
  place-content: center;
}

h1 {
  color: white;
  font-size: 5rem;
}

span {
  color: rgb(120, 3, 230);
  position: relative;
}

span::before {
  content: '';
  height: 80%;
  width: 5px;
  background-color: rgb(120, 3, 230);
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  animation: blink .8s infinite;
}

span.stop-blinbking::before {
  height: 80%;
  animation: none;
}

@keyframes blink {
  50% {
    height: 0%;
  }
  to {
    height: 80%;
  }
}