* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100dvh;
  background-color: black;
  display: grid;
  place-items: center;
  overflow: hidden;
}

button {
  width: 200px;
  height: 55px;
  outline: none;
  border: solid 1px transparent;
  border-radius: 20px;
  background-color: rgb(31, 0, 145);
  color: white;
  cursor: pointer;
  font-size: 1.3rem;
  transition: all .3s ease;
}

button:hover {
  border: solid 1px rgb(62, 0, 207);
  background-color: rgba(31, 0, 145, 0.637);
}

.circle {
  display: none;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -100px;
  left: -100px;
  background: radial-gradient(circle, rgb(46, 0, 248) 0, transparent 80%);
  border-radius: 50%;
  opacity: .4;
  pointer-events: none;
  z-index: -1;
}

.circle.active {
  display: block;
}