body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(5, 0, 26);
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 30px 30px;
}

div {
  width: 100%;
  height: 100vh;
  background: radial-gradient(transparent 0, rgb(5, 0, 26) 50%);
}