@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100dvh;
  display: grid;
  place-content: center;
  background-color: rgb(238, 238, 238);
}

.show-modal {
  outline: none;
  border: none;
  background-color: #4A98F7;
  padding: 15px 22px;
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.bottom-sheet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  pointer-events: none;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  transition: 0.1s linear;
}

.bottom-sheet.show {
  opacity: 1;
  pointer-events: auto;
}

.bottom-sheet .sheet-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: #000;
}

.bottom-sheet .content {
  background: white;
  height: 50dvh;
  max-height: 100dvh;
  padding: 25px 30px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
  transform: translateY(100%);
  transition: transform .3s ease;
}

.bottom-sheet.fullscreen .content {
  border-radius: 0;
  overflow-y: hidden;
}

/* 
.bottom-sheet.dragging .content {
  transition: none;
} */

.bottom-sheet.show .content {
  transform: translateY(0%);
}

.bottom-sheet .header {
  display: flex;
  justify-content: center;
}

.bottom-sheet .drag-icon {
  cursor: grab;
  user-select: none;
  padding: 15px;
  margin-top: -15px;
}

.bottom-sheet .drag-icon span {
  height: 4px;
  width: 40px;
  display: block;
  background: #C7D0E1;
  border-radius: 50px;
}

.bottom-sheet .text-content {
  overflow: auto;
  height: 100%;
  padding: 15px 0 40px;
  scrollbar-width:  none;
}

.bottom-sheet .text-content::-webkit-scrollbar {
  width: 0;
}

.bottom-sheet .text-content h2 {
  font-size: 1.8rem;
}

.bottom-sheet .text-content p {
  font-size: 1.05rem;
  margin-top: 20px;
}