* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.carouser-container {
  width: 60%;
  margin: auto;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  width: 100%;
  height: 500px;
}

.item {
  min-width: 100%;
  height: 500px;
  max-height: 100%;
  position: relative;
}

.item img {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

.item span {
  padding: 20px 30px;
  background: rgba(255, 255, 255, 0.055);
  color: white;
  font-weight: bold;
  font-size: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  position: absolute;
  right: 30px;
  bottom: 30px;
}