* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow: hidden;
}

.layout {
  width: 100%;
  height: 100%;
  position: relative;
}

.layout video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.layout__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__title {
  color: white;
  font-size: 4rem;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.336);
  margin-bottom: 10px;
}

.content__btn {
  height: 50px;
  display: inline-block;
  border: 2px solid white;
  background-color: white;
  padding: 1rem;
  color: #444;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin:  0 auto;
}