* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(10, 0, 39);
  overflow: hidden;
  display: grid;
  place-items: center;
}

.horizontal-container {
  width: 90%;
  height: 100px;
  display: flex;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
  );
}

.horizontal-container .item {
  width: 200px;
  height: 100px;
  background: rgba(255, 255, 255, 0.164);
  border: solid 1px white;
  border-radius: 10px;
  position: absolute;
  left: max(calc(200px * 10), 100%);
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  display: grid;
  place-content: center;
  animation-name: scroll;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: calc(30s / 10 * (10 - var(--item)) * -1);
}

@keyframes scroll {
  to {
    left: -200px;
  }
}