* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100dvh;
  position: relative;
}

.img__container {
  width: 100%;
  height: 100%;
  background-image: url('./image//birds.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(30px);
}

.data__container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

.data__container span {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 10px black;
}

.data__container button {
  width: 100%;
  min-width: 250px;
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  background: rgb(0, 78, 0);
  color: white;
  position: relative;
  overflow: hidden;
}

.data__container button:disabled {
  pointer-events: none;
}

.data__container button::before {
  content: '';
  width: var(--progress);
  height: 100%;
  background: rgba(0, 185, 0, 0.274);
  position: absolute;
  top: 0;
  left: 0;
}

.data__container p {
  display: none;
  margin: 10px 0;
  font-size: 1.3rem;
  color: rgb(0, 78, 0);
  font-weight: bold;
  text-shadow: 0 0 10px white;
  text-align: center;
}