body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background: white;
}

h1 {
  margin-top: 30px;
  text-align: center;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
}

article {
  max-width: 60%;
  max-height: 90vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

nav {
  max-width: 300px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a.active {
  color: blue;
}
