---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro'
import Header from '../components/Header.astro'
---

<Layout title='100+ mini proyecto frontend'>
	<Header />
	<Hero />
	<section></section>
</Layout>

<style>
	section {
		height: 100vh;
	}
</style>
