@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(19, 0, 65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: white;
}

input {
  height: 30px;
  min-width: 300px;
  outline: none;
  border-radius: 20px;
  border: 1px solid rgb(19, 0, 65);
  background-color: rgba(255, 255, 255, 0.089);
  padding: 5px 15px;
  color: white;
}

p strong {
  font-size: 1.2rem;
}