* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100dvh;
  background: rgb(0, 21, 46);
  display: grid;
  place-content: center;
}

form {
  width: 100%;
  max-width: 400px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.205);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

form > .inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

input {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 7px;
  outline: none;
  transition: border .3s ease;
  padding: 5px;
  text-align: center;
  font-size: 1.4rem;
  color: rgb(99, 99, 99);
}

input:focus {
  border: 1px solid rgb(80, 80, 80)
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

button {
  width: 90%;
  height: 40px;
  background: rgb(78, 155, 255);
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.1rem;
  pointer-events: none;
  transition: background .3s ease;
}

button.active {
  background: rgb(0, 110, 255);
  pointer-events: auto;
}

button:hover {
  background: rgb(0, 101, 233);
  cursor: pointer;
}
